@model TrainingType

@{
    ViewData["Title"] = "Home Page";
}

<h1>HELLLLO WELCOME</h1>
@*<div>
    department
</div>
<div>
    <select asp-for="DepartmentId" id="departmentId"
            asp-items="@ViewBag.departments">
        <option disabled selected>------</option>
    </select>
</div>
<br />
<br />
<div>
    training type
</div>
<div>
    <select asp-for="Id" id="trainingTypeId"></select>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            getTrainingTypeByDepartmentId();
        })
        $("#departmentId").change(function () {
            getTrainingTypeByDepartmentId();
        });
        var getTrainingTypeByDepartmentId = function () {
            $.ajax({
                url: '@Url.Action("GetTrainingTypeByDepartmentId", "Home")',
                type:'GET',
                data:{
                    departmentId: $('#departmentId').val(),
                },
                success: function(data){
                    $('#trainingTypeId').find('option').remove()
                    $(data).each(
                        function(index,item){
                            $('#trainingTypeId').append('<option value="' + item.id + '">' + item.trainingTypeName+ '</option>')
                        }
                    );
                }
            })
        }
    </script>
}*@